relaxng/applications.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Web Application Features              #
# #####################################################################

## Additions to Common Attributes

	common.attrs.other &=
		(	common.attrs.contextmenu?
		&	common.attrs.contenteditable?
		&	common.attrs.draggable?
		)

## Context Menu: contextmenu

	common.attrs.contextmenu =
		attribute contextmenu {
			common.data.idref
		}

## Editable Content: contenteditable

	common.attrs.contenteditable =
		attribute contenteditable {
			string "true" | string "false"
		}

## Draggable Element: draggable

	common.attrs.draggable =
		attribute draggable {
			string "true" | string "false" #REVISIT guessing here
		}

## Progess Indicator: <progress>

	progress.elem =
		element progress { progress.inner & progress.attrs }
	progress.elem.static =
		element progress { progress.inner.static & progress.attrs }
	progress.attrs =
		(	common.attrs
		&	progress.attrs.value?
		&	progress.attrs.max?
		)
		progress.attrs.value =
			attribute value {
				common.data.float.non-negative #REVISIT
			}
		progress.attrs.max =
			attribute max {
				common.data.float.positive #REVISIT
			}
	progress.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	progress.inner.static =
		( common.inner.strict-inline.static )

	common.elem.struct-inline |= progress.elem
	common.elem.struct-inline.static |= progress.elem.static
	common.elem.strict-inline |= progress.elem
	common.elem.strict-inline.static |= progress.elem.static

## Datagrid: <datagrid>

	datagrid.elem =
		element datagrid { datagrid.inner & datagrid.attrs }
	datagrid.attrs =
		(	common.attrs
		&	datagrid.attrs.multiple?
		&	datagrid.attrs.disabled?
		)
		datagrid.attrs.multiple =
			attribute multiple {
				string "multiple"
			}
		datagrid.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
	datagrid.inner =
		( common.inner.block )
	
	common.elem.block |= datagrid.elem

## Command: <command>

	command.elem =
		element command { command.inner & command.attrs }
	command.attrs =
		(	common.attrs
		&	(	command.attrs.type.command
			|	(	command.attrs.type.radio
				&	command.attrs.radiogroup #REVISIT taking liberties here
				&	command.attrs.checked?
				)
			|	(	command.attrs.type.checkbox
				&	command.attrs.checked?
				)
			)?
		&	command.attrs.label?
		&	command.attrs.icon?
		&	command.attrs.hidden?
		&	command.attrs.disabled?
		&	command.attrs.default?
		)
		command.attrs.type.command =
			attribute type {
				string "command"
			}
		command.attrs.type.radio =
			attribute type {
				string "radio"
			}
		command.attrs.type.checkbox =
			attribute type {
				string "checkbox"
			}
		command.attrs.label =
			attribute label {
				string
			}
		command.attrs.icon =
			attribute icon {
				common.data.uri
			}
		command.attrs.hidden =
			attribute hidden {
				string "hidden"
			}
		command.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
		command.attrs.checked =
			attribute checked {
				string "checked"
			}
		command.attrs.radiogroup =
			attribute radiogroup {
				string #REVISIT need special format here?
			}
		command.attrs.default =
			attribute default {
				string "default"
			}
	command.inner =
		( empty )
	
	head.inner.misc |=
		( command.elem & nonHTMLizable )
	
	common.elem.strict-inline |= command.elem
	common.elem.strict-inline.static |= command.elem
	common.elem.struct-inline |= command.elem
	common.elem.struct-inline.static |= command.elem

## Menu: <menu>

	menu.elem =
		element menu { menu.inner & menu.attrs }
	menu.elem.static =
		element menu { menu.inner.static & menu.attrs }
	menu.attrs =
		(	common.attrs
		&	menu.attrs.type?
		&	menu.attrs.label?
		&	menu.attrs.autosubmit?
		)
		menu.attrs.type =
			attribute type {
				string "toolbar" | string "popup"
			}
		menu.attrs.label =
			attribute label {
				string
			}
		menu.attrs.autosubmit =
			attribute autosubmit {
				string "autosubmit"
			}
	menu.inner =
		(	li.elem.inline*
		|	common.inner.struct-inline
		)
	menu.inner.static =
		(	li.elem.inline.static*
		|	common.inner.struct-inline.static
		)
	
	common.elem.block |= menu.elem
	common.elem.block.static |= menu.elem.static
	common.elem.struct-inline |= menu.elem
	common.elem.struct-inline.static |= menu.elem.static
	
## Canvas for Dynamic Graphics: <canvas>

	canvas.elem.strict-inline =
		element canvas { canvas.inner.strict-inline & canvas.attrs }
	canvas.elem.strict-inline.static =
		element canvas { canvas.inner.strict-inline.static & canvas.attrs }
	canvas.elem.struct-inline =
		element canvas { canvas.inner.struct-inline & canvas.attrs }
	canvas.elem.struct-inline.static =
		element canvas { canvas.inner.struct-inline.static & canvas.attrs }
	canvas.attrs =
		(	common.attrs
		&	canvas.attrs.height?
		&	canvas.attrs.width?
		)
		canvas.attrs.height =
			attribute height {
				common.data.integer.non-negative
			}
		canvas.attrs.width =
			attribute width {
				common.data.integer.non-negative
			}
	canvas.inner.strict-inline =
		( common.inner.strict-inline )
	canvas.inner.strict-inline.static =
		( common.inner.strict-inline.static )
	canvas.inner.struct-inline =
		( common.inner.struct-inline )
	canvas.inner.struct-inline.static =
		( common.inner.struct-inline.static )
	
	common.elem.strict-inline |= canvas.elem.strict-inline
	common.elem.strict-inline.static |= canvas.elem.strict-inline.static
	common.elem.struct-inline |= canvas.elem.struct-inline
	common.elem.struct-inline.static |= canvas.elem.struct-inline.static
	common.elem.embedded |= canvas.elem.strict-inline
	common.elem.embedded.static |= canvas.elem.strict-inline.static

## Server-sent events: <event-source>

	event-source.elem =
		element event-source { event-source.inner & event-source.attrs }
	event-source.attrs =
		(	common.attrs
		&	event-source.attrs.src?
		)
		event-source.attrs.src =
			attribute src {
				common.data.uri
			}
	event-source.inner =
		( empty )

	head.inner.misc |=
		( event-source.elem )
	
## Additional On-Demand Information: <details>

	details.elem =
		element details { details.inner & details.attrs }
	details.attrs =
		(	common.attrs
		&	details.attrs.open?
		)
		details.attrs.open =
			attribute open {
				string "open"
			}
	details.inner =
		(	legend.elem.strict-inline
		,	common.inner.bimorphic.static 
		)
	
	common.elem.block |= details.elem
