relaxng/applications.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Web Application Features              #
# #####################################################################

## Additions to Common Attributes

	common.attrs.other &=
		(	common.attrs.contextmenu?
		&	common.attrs.contenteditable?
		&	common.attrs.draggable?
		)

## Context Menu: contextmenu

	common.attrs.contextmenu =
		attribute contextmenu {
			common.data.idref
		}

## Editable Content: contenteditable

	common.attrs.contenteditable =
		attribute contenteditable {
			string "true" | string "false"
		}

## Draggable Element: draggable

	common.attrs.draggable =
		attribute draggable {
			string "true" | string "false" #REVISIT guessing here
		}

## Progess Indicator: <progress>

	progress.elem =
		element progress { progress.inner & progress.attrs }
	progress.elem.static =
		element progress { progress.inner.static & progress.attrs }
	progress.attrs =
		(	common.attrs
		&	progress.attrs.value?
		&	progress.attrs.max?
		)
		progress.attrs.value =
			attribute value {
				common.data.float.non-negative #REVISIT
			}
		progress.attrs.max =
			attribute max {
				common.data.float.positive #REVISIT
			}
	progress.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	progress.inner.static =
		( common.inner.strict-inline.static )

	common.inner.struct-inline &= progress.elem*
	common.inner.struct-inline.static &= progress.elem.static*
	common.inner.strict-inline &= progress.elem*
	common.inner.strict-inline.static &= progress.elem.static*

#REVISIT tabbox?

#REVISIT switch?

## Mutually Exclusive Sections: <switch>

	switch.elem =
		element switch { switch.inner & switch.attrs }
	switch.elem.static =
		element switch { switch.inner.static & switch.attrs }
	switch.attrs =
		( common.attrs )
	switch.inner =
		(	empty
		|	(	section.elem*
			,	section.active.elem
			,	section.elem*
			)
		)
	switch.inner.static =
		(	empty
		|	(	section.elem.static*
			,	section.active.elem.static
			,	section.elem.static*
			)
		)
	common.inner.block &= switch.elem*
	common.inner.block.static &= switch.elem.static*

## Datagrid: <datagrid>

	datagrid.elem =
		element datagrid { datagrid.inner & datagrid.attrs }
	datagrid.elem.header =
		element datagrid { datagrid.inner.header & datagrid.attrs }
	datagrid.elem.footer =
		element datagrid { datagrid.inner.footer & datagrid.attrs }
	datagrid.attrs =
		(	common.attrs
		&	datagrid.attrs.multiple?
		&	datagrid.attrs.disabled?
		)
		datagrid.attrs.multiple =
			attribute multiple {
				string "multiple"
			}
		datagrid.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
	datagrid.inner =
		( common.inner.block )
	datagrid.inner.header =
		( common.inner.block.header )
	datagrid.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= datagrid.elem*
	common.inner.block.header &= datagrid.elem.header*
	common.inner.block.footer &= datagrid.elem.footer*

## Command: <command>

	command.elem =
		element command { command.inner & command.attrs }
	command.attrs =
		(	common.attrs
		&	(	command.attrs.type.command
			|	(	command.attrs.type.radio
				&	command.attrs.radiogroup #REVISIT taking liberties here
				&	command.attrs.checked?
				)
			|	(	command.attrs.type.checkbox
				&	command.attrs.checked?
				)
			)?
		&	command.attrs.label?
		&	command.attrs.icon?
		&	command.attrs.hidden?
		&	command.attrs.disabled?
		&	command.attrs.default?
		)
		command.attrs.type.command =
			attribute type {
				string "command"
			}
		command.attrs.type.radio =
			attribute type {
				string "radio"
			}
		command.attrs.type.checkbox =
			attribute type {
				string "checkbox"
			}
		command.attrs.label =
			attribute label {
				string
			}
		command.attrs.icon =
			attribute icon {
				common.data.uri
			}
		command.attrs.hidden =
			attribute hidden {
				string "hidden"
			}
		command.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
		command.attrs.checked =
			attribute checked {
				string "checked"
			}
		command.attrs.radiogroup =
			attribute radiogroup {
				string #REVISIT need special format here?
			}
		command.attrs.default =
			attribute default {
				string "default"
			}
	command.inner =
		( empty )
	
	head.inner.misc |=
		( command.elem & nonHTMLizable )
	
	common.inner.strict-inline &= command.elem*
	common.inner.strict-inline.static &= command.elem*
	common.inner.struct-inline &= command.elem*
	common.inner.struct-inline.static &= command.elem*

## Menu: <menu>

	menu.elem =
		element menu { menu.inner & menu.attrs }
	menu.elem.static =
		element menu { menu.inner.static & menu.attrs }
	menu.attrs =
		(	common.attrs
		&	menu.attrs.type?
		&	menu.attrs.label?
		&	menu.attrs.autosubmit?
		)
		menu.attrs.type =
			attribute type {
				string "toolbar" | string "popup"
			}
		menu.attrs.label =
			attribute label {
				string
			}
		menu.attrs.autosubmit =
			attribute autosubmit {
				string "autosubmit"
			}
	menu.inner =
		(	li.elem.inline*
		|	common.inner.struct-inline
		)
	menu.inner.static =
		(	li.elem.inline.static*
		|	common.inner.struct-inline.static
		)
	
	common.inner.block &= menu.elem*
	common.inner.block.static &= menu.elem.static*
	common.inner.block.header &= menu.elem*
	common.inner.block.header.static &= menu.elem.static*
	common.inner.block.footer &= menu.elem*
	common.inner.block.footer.static &= menu.elem.static*
	common.inner.struct-inline &= menu.elem*
	common.inner.struct-inline.static &= menu.elem.static*
	
## Canvas for Dynamic Graphics: <canvas>

	canvas.elem =
		element canvas { canvas.inner & canvas.attrs }
	canvas.elem.static =
		element canvas { canvas.inner.static & canvas.attrs }
	canvas.elem.header =
		element canvas { canvas.inner.header & canvas.attrs }
	canvas.elem.header.static =
		element canvas { canvas.inner.header.static & canvas.attrs }
	canvas.elem.footer =
		element canvas { canvas.inner.footer & canvas.attrs }
	canvas.elem.footer.static =
		element canvas { canvas.inner.footer.static & canvas.attrs }
	canvas.attrs =
		(	common.attrs
		&	canvas.attrs.height?
		&	canvas.attrs.width?
		)
		canvas.attrs.height =
			attribute height {
				common.data.integer.positive #REVISIT spec bans leading zeros
			}
		canvas.attrs.width =
			attribute width {
				common.data.integer.positive #REVISIT spec bans leading zeros
			}
	canvas.inner =
		( common.inner.block )
	canvas.inner.static =
		( common.inner.block.static )
	canvas.inner.header =
		( common.inner.block.header )
	canvas.inner.header.static =
		( common.inner.block.header.static )
	canvas.inner.footer =
		( common.inner.block.footer )
	canvas.inner.footer.static =
		( common.inner.block.footer.static )
	
	common.inner.block &= canvas.elem*
	common.inner.block.static &= canvas.elem.static*
	common.inner.block.header &= canvas.elem.header*
	common.inner.block.header.static &= canvas.elem.header.static*
	common.inner.block.footer &= canvas.elem.footer*
	common.inner.block.footer.static &= canvas.elem.footer.static*
