relaxng/applications.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Web Application Features              #
# #####################################################################

## Context Menu

	common.attrs &=
		(	common.attrs.contextmenu
		)
		common.attrs.contextmenu =
			attribute contextmenu {
				common.data.idref
			}

## Scalar Gauge: <meter>

	meter.elem =
		element meter { meter.inner & meter.attrs }
	meter.elem.static =
		element meter { meter.inner.static & meter.attrs }
	meter.attrs =
		(	common.attrs
		&	meter.attrs.value?
		&	meter.attrs.min?
		&	meter.attrs.low?
		&	meter.attrs.high?
		&	meter.attrs.max?
		&	meter.attrs.optimum?
		)
		meter.attrs.value =
			attribute value {
				common.data.float
			}
		meter.attrs.min =
			attribute min {
				common.data.float
			}
		meter.attrs.low =
			attribute low {
				common.data.float
			}
		meter.attrs.high =
			attribute high {
				common.data.float
			}
		meter.attrs.max =
			attribute max {
				common.data.float
			}
		meter.attrs.optimum =
			attribute optimum {
				common.data.float
			}
	meter.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	meter.inner.static =
		( common.inner.strict-inline.static )

	common.inner.struct-inline &= meter.elem*
	common.inner.struct-inline.static &= meter.elem.static*
	common.inner.strict-inline &= meter.elem*
	common.inner.strict-inline.static &= meter.elem.static*

## Progess Indicator: <progress>

	progress.elem =
		element progress { progress.inner & progress.attrs }
	progress.elem.static =
		element progress { progress.inner.static & progress.attrs }
	progress.attrs =
		(	common.attrs
		&	progress.attrs.value?
		&	progress.attrs.max?
		)
		progress.attrs.value =
			attribute value {
				common.data.float.non-negative #REVISIT
			}
		progress.attrs.max =
			attribute max {
				common.data.float.positive #REVISIT
			}
	progress.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	progress.inner.static =
		( common.inner.strict-inline.static )

	common.inner.struct-inline &= progress.elem*
	common.inner.struct-inline.static &= progress.elem.static*
	common.inner.strict-inline &= progress.elem*
	common.inner.strict-inline.static &= progress.elem.static*

#REVISIT tabbox?

#REVISIT switch?

## hCalendar: <calendar>

	calendar.elem =
		element calendar { calendar.inner & calendar.attrs }
	calendar.elem.header =
		element calendar { calendar.inner.header & calendar.attrs }
	calendar.elem.footer =
		element calendar { calendar.inner.footer & calendar.attrs }
	calendar.attrs =
		( common.attrs )
	calendar.inner =
		( common.inner.block )
	calendar.inner.header =
		( common.inner.block.header )
	calendar.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= calendar.elem*
	common.inner.block.header &= calendar.elem.header*
	common.inner.block.footer &= calendar.elem.footer*

## hCard: <card>

	card.elem =
		element card { card.inner & card.attrs }
	card.elem.header =
		element card { card.inner.header & card.attrs }
	card.elem.footer =
		element card { card.inner.footer & card.attrs }
	card.attrs =
		( common.attrs )
	card.inner =
		( common.inner.block )
	card.inner.header =
		( common.inner.block.header )
	card.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= card.elem*
	common.inner.block.header &= card.elem.header*
	common.inner.block.footer &= card.elem.footer*

## Datagrid: <datagrid>

	datagrid.elem =
		element datagrid { datagrid.inner & datagrid.attrs }
	datagrid.elem.header =
		element datagrid { datagrid.inner.header & datagrid.attrs }
	datagrid.elem.footer =
		element datagrid { datagrid.inner.footer & datagrid.attrs }
	datagrid.attrs =
		(	common.attrs
		&	datagrid.attrs.multiple?
		&	datagrid.attrs.disabled?
		)
		datagrid.attrs.multiple =
			attribute multiple {
				string "multiple"
			}
		datagrid.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
	datagrid.inner =
		( common.inner.block )
	datagrid.inner.header =
		( common.inner.block.header )
	datagrid.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= datagrid.elem*
	common.inner.block.header &= datagrid.elem.header*
	common.inner.block.footer &= datagrid.elem.footer*
