relaxng/applications.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Web Application Features              #
# #####################################################################

## Context Menu and Editable Content

	common.attrs.other &=
		(	common.attrs.contextmenu?
		&	common.attrs.contenteditable?
		)
		common.attrs.contextmenu =
			attribute contextmenu {
				common.data.idref
			}
		common.attrs.contenteditable =
			attribute contenteditable {
				string "true" | string "false"
			}

## Scalar Gauge: <meter>

	meter.elem =
		element meter { meter.inner & meter.attrs }
	meter.elem.static =
		element meter { meter.inner.static & meter.attrs }
	meter.attrs =
		(	common.attrs
		&	meter.attrs.value?
		&	meter.attrs.min?
		&	meter.attrs.low?
		&	meter.attrs.high?
		&	meter.attrs.max?
		&	meter.attrs.optimum?
		)
		meter.attrs.value =
			attribute value {
				common.data.float
			}
		meter.attrs.min =
			attribute min {
				common.data.float
			}
		meter.attrs.low =
			attribute low {
				common.data.float
			}
		meter.attrs.high =
			attribute high {
				common.data.float
			}
		meter.attrs.max =
			attribute max {
				common.data.float
			}
		meter.attrs.optimum =
			attribute optimum {
				common.data.float
			}
	meter.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	meter.inner.static =
		( common.inner.strict-inline.static )

	common.inner.struct-inline &= meter.elem*
	common.inner.struct-inline.static &= meter.elem.static*
	common.inner.strict-inline &= meter.elem*
	common.inner.strict-inline.static &= meter.elem.static*

## Progess Indicator: <progress>

	progress.elem =
		element progress { progress.inner & progress.attrs }
	progress.elem.static =
		element progress { progress.inner.static & progress.attrs }
	progress.attrs =
		(	common.attrs
		&	progress.attrs.value?
		&	progress.attrs.max?
		)
		progress.attrs.value =
			attribute value {
				common.data.float.non-negative #REVISIT
			}
		progress.attrs.max =
			attribute max {
				common.data.float.positive #REVISIT
			}
	progress.inner =
		( common.inner.strict-inline ) #Cannot enforce textContent format here
	progress.inner.static =
		( common.inner.strict-inline.static )

	common.inner.struct-inline &= progress.elem*
	common.inner.struct-inline.static &= progress.elem.static*
	common.inner.strict-inline &= progress.elem*
	common.inner.strict-inline.static &= progress.elem.static*

#REVISIT tabbox?

#REVISIT switch?

## hCalendar: <calendar>

	calendar.elem =
		element calendar { calendar.inner & calendar.attrs }
	calendar.elem.header =
		element calendar { calendar.inner.header & calendar.attrs }
	calendar.elem.footer =
		element calendar { calendar.inner.footer & calendar.attrs }
	calendar.attrs =
		( common.attrs )
	calendar.inner =
		( common.inner.block )
	calendar.inner.header =
		( common.inner.block.header )
	calendar.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= calendar.elem*
	common.inner.block.header &= calendar.elem.header*
	common.inner.block.footer &= calendar.elem.footer*

## hCard: <card>

	card.elem =
		element card { card.inner & card.attrs }
	card.elem.header =
		element card { card.inner.header & card.attrs }
	card.elem.footer =
		element card { card.inner.footer & card.attrs }
	card.attrs =
		( common.attrs )
	card.inner =
		( common.inner.block )
	card.inner.header =
		( common.inner.block.header )
	card.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= card.elem*
	common.inner.block.header &= card.elem.header*
	common.inner.block.footer &= card.elem.footer*

## Datagrid: <datagrid>

	datagrid.elem =
		element datagrid { datagrid.inner & datagrid.attrs }
	datagrid.elem.header =
		element datagrid { datagrid.inner.header & datagrid.attrs }
	datagrid.elem.footer =
		element datagrid { datagrid.inner.footer & datagrid.attrs }
	datagrid.attrs =
		(	common.attrs
		&	datagrid.attrs.multiple?
		&	datagrid.attrs.disabled?
		)
		datagrid.attrs.multiple =
			attribute multiple {
				string "multiple"
			}
		datagrid.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
	datagrid.inner =
		( common.inner.block )
	datagrid.inner.header =
		( common.inner.block.header )
	datagrid.inner.footer =
		( common.inner.block.footer )
	
	common.inner.block &= datagrid.elem*
	common.inner.block.header &= datagrid.elem.header*
	common.inner.block.footer &= datagrid.elem.footer*

## Command: <command>

	command.elem =
		element command { command.inner & command.attrs }
	command.attrs =
		(	common.attrs
		&	(	command.attrs.type.command
			|	(	command.attrs.type.radio
				&	command.attrs.radiogroup #REVISIT taking liberties here
				&	command.attrs.checked?
				)
			|	(	command.attrs.type.checkbox
				&	command.attrs.checked?
				)
			)?
		&	command.attrs.label?
		&	command.attrs.icon?
		&	command.attrs.hidden?
		&	command.attrs.disabled?
		&	command.attrs.default?
		)
		command.attrs.type.command =
			attribute type {
				string "command"
			}
		command.attrs.type.radio =
			attribute type {
				string "radio"
			}
		command.attrs.type.checkbox =
			attribute type {
				string "checkbox"
			}
		command.attrs.label =
			attribute label {
				string
			}
		command.attrs.icon =
			attribute icon {
				common.data.uri
			}
		command.attrs.hidden =
			attribute hidden {
				string "hidden"
			}
		command.attrs.disabled =
			attribute disabled {
				string "disabled"
			}
		command.attrs.checked =
			attribute checked {
				string "checked"
			}
		command.attrs.radiogroup =
			attribute radiogroup {
				string #REVISIT need special format here?
			}
		command.attrs.default =
			attribute default {
				string "default"
			}
	command.inner =
		( empty )
	
	head.inner.misc |=
		( command.elem & nonHTMLizable )
	
	common.inner.strict-inline &= command.elem*
	common.inner.strict-inline.static &= command.elem*
	common.inner.struct-inline &= command.elem*
	common.inner.struct-inline.static &= command.elem*

## Menu: <menu>

	menu.elem =
		element menu { menu.inner & menu.attrs }
	menu.elem.static =
		element menu { menu.inner.static & menu.attrs }
	menu.attrs =
		(	common.attrs
		&	menu.attrs.type?
		&	menu.attrs.label?
		&	menu.attrs.autosubmit?
		)
		menu.attrs.type =
			attribute type {
				string "toolbar" | string "popup"
			}
		menu.attrs.label =
			attribute label {
				string
			}
		menu.attrs.autosubmit =
			attribute autosubmit {
				string "autosubmit"
			}
	menu.inner =
		(	li.inner.inline*
		|	common.inner.struct-inline
		)
	menu.inner.static =
		(	li.inner.inline.static*
		|	common.inner.struct-inline.static
		)
	
	common.inner.block &= menu.elem*
	common.inner.block.static &= menu.elem.static*
	common.inner.block.header &= menu.elem*
	common.inner.block.header.static &= menu.elem.static*
	common.inner.block.footer &= menu.elem*
	common.inner.block.footer.static &= menu.elem.static*
	common.inner.struct-inline &= menu.elem*
	common.inner.struct-inline.static &= menu.elem.static*
