relaxng/revision.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Revision Annotations                  #
# #####################################################################

## Common Attributes

	edit.attrs.cite =
		attribute cite {
			common.data.uri
		}
	edit.attrs.datetime =
		attribute datetime {
			common.data.datetime
		}

## Inserts: <ins>

	ins.elem.strict-inline =
		element ins { common.inner.strict-inline & ins.attrs }
	ins.elem.strict-inline.static =
		element ins { common.inner.strict-inline.static & ins.attrs }
	ins.elem.struct-inline =
		element ins { common.inner.struct-inline & ins.attrs }
	ins.elem.struct-inline.static =
		element ins { common.inner.struct-inline.static & ins.attrs }
	ins.elem.block =
		element ins { common.inner.block & ins.attrs }
	ins.elem.block.static =
		element ins { common.inner.block.static & ins.attrs }
	ins.attrs =
		(	common.attrs
		&	edit.attrs.cite?
		&	edit.attrs.datetime?
		)

	common.inner.strict-inline &= ins.elem.strict-inline*
	common.inner.strict-inline.static &= ins.elem.strict-inline.static*
	common.inner.struct-inline &= ins.elem.struct-inline*
	common.inner.struct-inline.static &= ins.elem.struct-inline.static*
	common.inner.block &= ins.elem.block*
	common.inner.block.static &= ins.elem.block.static*

## Deletions: <del>

	del.elem.strict-inline =
		element del { common.inner.strict-inline & del.attrs }
	del.elem.strict-inline.static =
		element del { common.inner.strict-inline.static & del.attrs }
	del.elem.struct-inline =
		element del { common.inner.struct-inline & del.attrs }
	del.elem.struct-inline.static =
		element del { common.inner.struct-inline.static & del.attrs }
	del.elem.block =
		element del { common.inner.block & del.attrs }
	del.elem.block.static =
		element del { common.inner.block.static & del.attrs }
	del.attrs =
		(	common.attrs
		&	edit.attrs.cite?
		&	edit.attrs.datetime?
		)

	common.inner.strict-inline &= del.elem.strict-inline*
	common.inner.strict-inline.static &= del.elem.strict-inline.static*
	common.inner.struct-inline &= del.elem.struct-inline*
	common.inner.struct-inline.static &= del.elem.struct-inline.static*
	common.inner.block &= del.elem.block*
	common.inner.block.static &= del.elem.block.static*

#FIXME need special case for del in bimorphic. Refactor * positioning in
#common content models so that they become common element classes


