jing-trang/eg/testSuite.rng

<?xml version="1.0"?>
<!-- $Id: testSuite.rng,v 1.4 2001-09-12 07:18:07 jjc Exp $ -->
<grammar xmlns="http://relaxng.org/ns/structure/0.9" ns="">
  <!--
    Target namespace is intentionally set to "" so as not to interfere with
    prefix/URI bindings
  -->
  
  <start>
    <element name="testSuite">
      <ref name="testCases"/>
    </element>
  </start>

  <define name="testCases">
    <ref name="header"/>
    <zeroOrMore>
      <choice>
	<ref name="testCase"/>
	<!--
	  Resources are by itself a RELAX NG pattern, and it can be 
	  referenced from other patterns through <externalRef/>
	  the scope of the modules are global.
	-->
	<element name="resource">
	  <attribute name="href"/>
	  <ref name="anyElement"/>
	</element>
        <element name="div">
          <ref name="testCases"/>
        </element>
      </choice>
    </zeroOrMore>
  </define>
      
  <define name="testCase">
    <element name="testCase">
      <ref name="header"/>
      
      <choice>
        <!-- Incorrect schema -->
        <element name="incorrect">
          <ref name="anyElement"/>
        </element>
         
        <!-- Correct schema and test cases -->
        <group>
          <element name="correct">
            <externalRef href="relaxng.rng"/>
          </element>
          <zeroOrMore>
            <choice>
              <!-- Valid test cases -->
              <element name="valid">
                <ref name="anyElement"/>
              </element>
              <!-- Invalid test cases -->
              <element name="invalid">
                <ref name="anyElement"/>
              </element>
            </choice>
          </zeroOrMore>
        </group>
      </choice>
    </element>
  </define>

  <define name="any">
    <zeroOrMore>
      <choice>
        <ref name="anyElement"/>
        <attribute>
          <anyName/>
          <text/>
        </attribute>
        <text/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="anyElement">
    <element>
      <anyName/>
      <ref name="any"/>
    </element>
  </define>

  <define name="header">
    <zeroOrMore>
      <choice>
	<element name="documentation">
	  <text/>
	</element>
        <element name="section">
          <text/>
        </element>
      </choice>
    </zeroOrMore>
  </define>
  
</grammar>
