schema/legacy/legacy.rnc

# #####################################################################
##  RELAX NG Schema for HTML 5: Obsolete Elements                     #
# #####################################################################

## These elements are allowed here and disallowed in Schematron in order to 
## work around RELAX NG limitations and to thereby get more useful messages.

## Centering: <center>

	center.elem =
		element center { center.inner & center.attrs }
	center.attrs =
		( common.attrs )
	center.inner =
		( common.inner.flow )

	common.elem.flow |= center.elem

## Inline Styling: <font>

	font.elem =
		element font { font.inner & font.attrs }
	font.attrs =
		(	common.attrs
		&	font.attrs.color?
		&	font.attrs.face?
		&	font.attrs.size?
		&	common.attrs.aria?
		)
		font.attrs.color =
			attribute color {
				string
			}
		font.attrs.face =
			attribute face {
				string
			}
		font.attrs.size =
			attribute size {
				string
			}
	font.inner =
		( common.inner.phrasing )

	common.elem.phrasing |= font.elem

## Base Font Size: <basefont>

	basefont.elem =
		element basefont { empty & basefont.attrs }
	basefont.attrs =
		( common.attrs )

	common.elem.flow |= basefont.elem

## Larger Font: <big>

	big.elem =
		element big { big.inner & big.attrs }
	big.attrs =
		( common.attrs )
	big.inner =
		( common.inner.flow )

	common.elem.phrasing |= big.elem

## Struck Text: <s>

	s.elem =
		element s { s.inner & s.attrs }
	s.attrs =
		( common.attrs )
	s.inner =
		( common.inner.flow )

	common.elem.phrasing |= s.elem

## Struck Text: <strike>

	strike.elem =
		element strike { strike.inner & strike.attrs }
	strike.attrs =
		( common.attrs )
	strike.inner =
		( common.inner.flow )

	common.elem.phrasing |= strike.elem

## Teletype: <tt>

	tt.elem =
		element tt { tt.inner & tt.attrs }
	tt.attrs =
		( common.attrs )
	tt.inner =
		( common.inner.flow )

	common.elem.phrasing |= tt.elem

## Underline: <u>

	u.elem =
		element u { u.inner & u.attrs }
	u.attrs =
		( common.attrs )
	u.inner =
		( common.inner.flow )

	common.elem.phrasing |= u.elem

## Abbreviation: <acronym>

	acronym.elem =
		element acronym { acronym.inner & acronym.attrs }
	acronym.attrs =
		( common.attrs )
	acronym.inner =
		( common.inner.flow )

	common.elem.phrasing |= acronym.elem

## Directory: <dir>

	dir.elem =
		element dir { dir.inner & dir.attrs }
	dir.attrs =
		( common.attrs )
	dir.inner =
		( li.elem* )

	common.elem.flow |= dir.elem

## Java Applets: <applet>

	applet.elem.flow =
		element applet { applet.inner.flow & applet.attrs }
	applet.elem.phrasing =
		element applet { applet.inner.phrasing & applet.attrs }
	applet.attrs =
		(	common.attrs
		&	applet.attrs.archive?
		&	applet.attrs.code
		&	applet.attrs.codebase?
		&	applet.attrs.name?
		&	applet.attrs.height
		&	applet.attrs.width
		)
		applet.attrs.archive =
			attribute archive {
				common.data.uri #FIXME *comma* separated URI list (*grumble*)
			}
		applet.attrs.code =
			attribute code {
				token
			}
		applet.attrs.codebase =
			attribute codebase {
				common.data.uri
			}
		applet.attrs.name =
			attribute name {
				string #FIXME refine
			}
		applet.attrs.height =
			attribute height {
				common.data.integer.positive
			}
		applet.attrs.width =
			attribute width {
				common.data.integer.positive
			}
	applet.inner.flow =
		(	param.elem*
		,	common.inner.flow
		)
	applet.inner.phrasing =
		(	param.elem*
		,	common.inner.phrasing
		)

	common.elem.flow |= applet.elem.flow
	common.elem.phrasing |= applet.elem.phrasing

## Frame Set: <frameset>

	frameset.elem =
		element frameset { frameset.inner & frameset.attrs }
	frameset.attrs =
		( common.attrs )
	frameset.inner =
		(
			(	frameset.elem
			|	frame.elem
			)+
			& noframes.elem?
		)

## Frame: <frame>

	frame.elem =
		element frame { empty & frame.attrs }
	frame.attrs =
		( common.attrs )

## Alternate no-frames content: <noframes>

	noframes.elem =
		element noframes { noframes.inner & noframes.attrs }
	noframes.attrs =
		( common.attrs )
	noframes.inner =
		( common.inner.flow )

	common.elem.flow |= noframes.elem

## Obsolete attributes

## abbr attribute

	td.attrs.abbr =
		attribute abbr {
			string
		}
	td.attrs &= td.attrs.abbr?

	th.attrs.abbr =
		attribute abbr {
			string
		}
	th.attrs &= th.attrs.abbr?

## archive attribute

	object.attrs.archive =
		attribute archive {
			string
		}
	object.attrs &= object.attrs.archive?

## axis attribute

	td.attrs.axis =
		attribute axis {
			string
		}
	td.attrs &= td.attrs.axis?

	th.attrs.axis =
		attribute axis {
			string
		}
	th.attrs &= th.attrs.axis?

## charset attribute

	link.attrs.charset =
		attribute charset {
			string
		}
	link.attrs &= link.attrs.charset?

	a.attrs.charset =
		attribute charset {
			string
		}
	a.attrs &= a.attrs.charset?

## classid attribute

	object.attrs.classid =
		attribute classid {
			common.data.uri
		}
	object.attrs &= object.attrs.classid?

## codebase attribute

	object.attrs.codebase =
		attribute codebase {
			common.data.uri
		}
	object.attrs &= object.attrs.codebase?

## codetype attribute

	object.attrs.codetype =
		attribute codetype {
			common.data.mimetype
		}
	object.attrs &= object.attrs.codetype?

## code attribute

	object.attrs.code =
		attribute code {
			token
		}
	object.attrs &= object.attrs.code?

## coords attribute

	a.attrs.coords =
		attribute coords {
			string
		}
	a.attrs &= a.attrs.coords?

## declare attribute

	object.attrs.declare =
		attribute declare {
			string
		}
	object.attrs &= object.attrs.declare?

## longdesc attribute

	img.attrs.longdesc =
		attribute longdesc {
			string
		}
	img.attrs &= img.attrs.longdesc?

	iframe.attrs.longdesc =
		attribute longdesc {
			string
		}
	iframe.attrs &= iframe.attrs.longdesc?

## methods attribute

	a.attrs.methods =
		attribute methods {
			string
		}
	a.attrs &= a.attrs.methods?

	link.attrs.methods =
		attribute methods {
			string
		}
	link.attrs &= link.attrs.methods?

## name attribute

	img.attrs.name =
		attribute name {
			string
		}
	img.attrs &= img.attrs.name?

	embed.attrs.name =
		attribute name {
			string
		}
	embed.attrs &= embed.attrs.name?

## nohref attribute

	area.attrs.nohref =
		attribute nohref {
			string
		}
	area.attrs &= area.attrs.nohref?

## profile attribute

	head.attrs.profile =
		attribute profile {
			string
		}
	head.attrs &= head.attrs.profile?

## rev attribute

	link.attrs.rev =
		attribute rev {
			string
		}
	link.attrs &= link.attrs.rev?

	a.attrs.rev =
		attribute rev {
			string
		}
	a.attrs &= a.attrs.rev?

## scheme attribute

	meta.attrs.scheme =
		attribute scheme {
			string
		}
	meta.name.attrs &= meta.attrs.scheme?

## scope attribute

	td.attrs.scope =
		attribute scope {
			string
		}
	td.attrs &= td.attrs.scope?

## shape attribute

	a.attrs.shape =
		attribute shape {
			string
		}
	a.attrs &= a.attrs.shape?

## standby attribute

	object.attrs.standby =
		attribute standby {
			string
		}
	object.attrs &= object.attrs.standby?

## target attribute

	link.attrs.target =
		attribute target {
			string
		}
	link.attrs &= link.attrs.target?

## type attribute

	param.attrs.type =
		attribute type {
			string
		}
	param.attrs &= param.attrs.type?

## urn attribute

	a.attrs.urn =
		attribute urn {
			string
		}
	a.attrs &= a.attrs.urn?

## usemap attribute

	input.attrs.usemap =
		attribute usemap {
			string
		}
	input.image.attrs &= input.attrs.usemap?

## valuetype attribute

	param.attrs.valuetype =
		attribute valuetype {
			string
		}
	param.attrs &= param.attrs.valuetype?

## version attribute

	html.attrs.version =
		attribute version {
			string
		}
	html.attrs &= html.attrs.version?

## Obsolete style attributes

## align attribute

	caption.attrs.align =
		attribute align {
			string
		}
	caption.attrs &= caption.attrs.align?

	col.attrs.align =
		attribute align {
			string
		}
	col.attrs &= col.attrs.align?

	colgroup.attrs.align =
		attribute align {
			string
		}
	colgroup.attrs &= colgroup.attrs.align?

	div.attrs.align =
		attribute align {
			string
		}
	div.attrs &= div.attrs.align?

	embed.attrs.align =
		attribute align {
			string
		}
	embed.attrs &= embed.attrs.align?

	h1.attrs.align =
		attribute align {
			string
		}
	h1.attrs &= h1.attrs.align?

	h2.attrs.align =
		attribute align {
			string
		}
	h2.attrs &= h2.attrs.align?

	h3.attrs.align =
		attribute align {
			string
		}
	h3.attrs &= h3.attrs.align?

	h4.attrs.align =
		attribute align {
			string
		}
	h4.attrs &= h4.attrs.align?

	h5.attrs.align =
		attribute align {
			string
		}
	h5.attrs &= h5.attrs.align?

	h6.attrs.align =
		attribute align {
			string
		}
	h6.attrs &= h6.attrs.align?

	hr.attrs.align =
		attribute align {
			string
		}
	hr.attrs &= hr.attrs.align?

	iframe.attrs.align =
		attribute align {
			string
		}
	iframe.attrs &= iframe.attrs.align?

	img.attrs.align =
		attribute align {
			string
		}
	img.attrs &= img.attrs.align?

	input.attrs.align =
		attribute align {
			string
		}
	input.text.attrs &= input.attrs.align?
	input.password.attrs &= input.attrs.align?
	input.checkbox.attrs &= input.attrs.align?
	input.radio.attrs &= input.attrs.align?
	input.button.attrs &= input.attrs.align?
	input.submit.attrs &= input.attrs.align?
	input.reset.attrs &= input.attrs.align?
	input.file.attrs &= input.attrs.align?
	input.image.attrs &= input.attrs.align?
	input.datetime.attrs &= input.attrs.align?
	input.datetime-local.attrs &= input.attrs.align?
	input.date.attrs &= input.attrs.align?
	input.month.attrs &= input.attrs.align?
	input.time.attrs &= input.attrs.align?
	input.week.attrs &= input.attrs.align?
	input.number.attrs &= input.attrs.align?
	input.range.attrs &= input.attrs.align?
	input.email.attrs &= input.attrs.align?
	input.url.attrs &= input.attrs.align?
	input.search.attrs &= input.attrs.align?
	input.tel.attrs &= input.attrs.align?
	input.color.attrs &= input.attrs.align?

	legend.attrs.align =
		attribute align {
			string
		}
	legend.attrs &= legend.attrs.align?

	object.attrs.align =
		attribute align {
			string
		}
	object.attrs &= object.attrs.align?

	p.attrs.align =
		attribute align {
			string
		}
	p.attrs &= p.attrs.align?

	table.attrs.align =
		attribute align {
			string
		}
	table.attrs &= table.attrs.align?

	tbody.attrs.align =
		attribute align {
			string
		}
	tbody.attrs &= tbody.attrs.align?

	td.attrs.align =
		attribute align {
			string
		}
	td.attrs &= td.attrs.align?

	tfoot.attrs.align =
		attribute align {
			string
		}
	tfoot.attrs &= tfoot.attrs.align?

	th.attrs.align =
		attribute align {
			string
		}
	th.attrs &= th.attrs.align?

	thead.attrs.align =
		attribute align {
			string
		}
	thead.attrs &= thead.attrs.align?

	tr.attrs.align =
		attribute align {
			string
		}
	tr.attrs &= tr.attrs.align?

## alink attribute

	body.attrs.alink =
		attribute alink {
			string
		}
	body.attrs &= body.attrs.alink?

## background attribute

	body.attrs.background =
		attribute background {
			string
		}
	body.attrs &= body.attrs.background?

## bgcolor attribute

	body.attrs.bgcolor =
		attribute bgcolor {
			string
		}
	body.attrs &= body.attrs.bgcolor?

	table.attrs.bgcolor =
		attribute bgcolor {
			string
		}
	table.attrs &= table.attrs.bgcolor?

	tr.attrs.bgcolor =
		attribute bgcolor {
			string
		}
	tr.attrs &= tr.attrs.bgcolor?

	td.attrs.bgcolor =
		attribute bgcolor {
			string
		}
	td.attrs &= td.attrs.bgcolor?

	th.attrs.bgcolor =
		attribute bgcolor {
			string
		}
	th.attrs &= th.attrs.bgcolor?

## border attribute

	table.attrs.border =
		attribute border {
			string
		}
	table.attrs &= table.attrs.border?

	object.attrs.border =
		attribute border {
			string
		}
	object.attrs &= object.attrs.border?

## cellpadding attribute

	table.attrs.cellpadding =
		attribute cellpadding {
			string
		}
	table.attrs &= table.attrs.cellpadding?

## cellspacing attribute

	table.attrs.cellspacing =
		attribute cellspacing {
			string
		}
	table.attrs &= table.attrs.cellspacing?

## char attribute

	col.attrs.char =
		attribute char {
			string
		}
	col.attrs &= col.attrs.char?

	colgroup.attrs.char =
		attribute char {
			string
		}
	colgroup.attrs &= colgroup.attrs.char?

	tbody.attrs.char =
		attribute char {
			string
		}
	tbody.attrs &= tbody.attrs.char?

	td.attrs.char =
		attribute char {
			string
		}
	td.attrs &= td.attrs.char?

	tfoot.attrs.char =
		attribute char {
			string
		}
	tfoot.attrs &= tfoot.attrs.char?

	th.attrs.char =
		attribute char {
			string
		}
	th.attrs &= th.attrs.char?

	thead.attrs.char =
		attribute char {
			string
		}
	thead.attrs &= thead.attrs.char?

	tr.attrs.char =
		attribute char {
			string
		}
	tr.attrs &= tr.attrs.char?

## charoff attribute

	col.attrs.charoff =
		attribute charoff {
			string
		}
	col.attrs &= col.attrs.charoff?

	colgroup.attrs.charoff =
		attribute charoff {
			string
		}
	colgroup.attrs &= colgroup.attrs.charoff?

	tbody.attrs.charoff =
		attribute charoff {
			string
		}
	tbody.attrs &= tbody.attrs.charoff?

	td.attrs.charoff =
		attribute charoff {
			string
		}
	td.attrs &= td.attrs.charoff?

	tfoot.attrs.charoff =
		attribute charoff {
			string
		}
	tfoot.attrs &= tfoot.attrs.charoff?

	th.attrs.charoff =
		attribute charoff {
			string
		}
	th.attrs &= th.attrs.charoff?

	thead.attrs.charoff =
		attribute charoff {
			string
		}
	thead.attrs &= thead.attrs.charoff?

	tr.attrs.charoff =
		attribute charoff {
			string
		}
	tr.attrs &= tr.attrs.charoff?

## clear attribute

	br.attrs.clear =
		attribute clear {
			string
		}
	br.attrs &= br.attrs.clear?

## compact attribute

	dl.attrs.compact =
		attribute compact {
			string
		}
	dl.attrs &= dl.attrs.compact?

	menu.attrs.compact =
		attribute compact {
			string
		}
	menu.attrs &= menu.attrs.compact?

	ol.attrs.compact =
		attribute compact {
			string
		}
	ol.attrs &= ol.attrs.compact?

	ul.attrs.compact =
		attribute compact {
			string
		}
	ul.attrs &= ul.attrs.compact?

## frame attribute

	table.attrs.frame =
		attribute frame {
			string
		}
	table.attrs &= table.attrs.frame?

## frameborder attribute

	iframe.attrs.frameborder =
		attribute frameborder {
			string
		}
	iframe.attrs &= iframe.attrs.frameborder?

## height attribute

	td.attrs.height =
		attribute height {
			string
		}
	td.attrs &= td.attrs.height?

	th.attrs.height =
		attribute height {
			string
		}
	th.attrs &= th.attrs.height?

## hspace attribute

	img.attrs.hspace =
		attribute hspace {
			string
		}
	img.attrs &= img.attrs.hspace?

	object.attrs.hspace =
		attribute hspace {
			string
		}
	object.attrs &= object.attrs.hspace?

## link attribute

	body.attrs.link =
		attribute link {
			string
		}
	body.attrs &= body.attrs.link?

## marginheight attribute

	iframe.attrs.marginheight =
		attribute marginheight {
			string
		}
	iframe.attrs &= iframe.attrs.marginheight?

## marginwidth attribute

	iframe.attrs.marginwidth =
		attribute marginwidth {
			string
		}
	iframe.attrs &= iframe.attrs.marginwidth?

## noshade attribute

	hr.attrs.noshade =
		attribute noshade {
			string
		}
	hr.attrs &= hr.attrs.noshade?

## nowrap attribute

	td.attrs.nowrap =
		attribute nowrap {
			string
		}
	td.attrs &= td.attrs.nowrap?

	th.attrs.nowrap =
		attribute nowrap {
			string
		}
	th.attrs &= th.attrs.nowrap?

## rules attribute

	table.attrs.rules =
		attribute rules {
			string
		}
	table.attrs &= table.attrs.rules?

## scrolling attribute

	iframe.attrs.scrolling =
		attribute scrolling {
			string
		}
	iframe.attrs &= iframe.attrs.scrolling?

## size attribute

	hr.attrs.size =
		attribute size {
			string
		}
	hr.attrs &= hr.attrs.size?

## text attribute

	body.attrs.text =
		attribute text {
			string
		}
	body.attrs &= body.attrs.text?

## type attribute

	li.attrs.type =
		attribute type {
			string
		}
	li.attrs &= li.attrs.type?
	oli.attrs &= li.attrs.type?

	ol.attrs.type =
		attribute type {
			string
		}
	ol.attrs &= ol.attrs.type?

	ul.attrs.type =
		attribute type {
			string
		}
	ul.attrs &= ul.attrs.type?

## valign attribute

	col.attrs.valign =
		attribute valign {
			string
		}
	col.attrs &= col.attrs.valign?

	colgroup.attrs.valign =
		attribute valign {
			string
		}
	colgroup.attrs &= colgroup.attrs.valign?

	table.attrs.valign =
		attribute valign {
			string
		}
	table.attrs &= table.attrs.valign?

	tbody.attrs.valign =
		attribute valign {
			string
		}
	tbody.attrs &= tbody.attrs.valign?

	td.attrs.valign =
		attribute valign {
			string
		}
	td.attrs &= td.attrs.valign?

	tfoot.attrs.valign =
		attribute valign {
			string
		}
	tfoot.attrs &= tfoot.attrs.valign?

	th.attrs.valign =
		attribute valign {
			string
		}
	th.attrs &= th.attrs.valign?

	thead.attrs.valign =
		attribute valign {
			string
		}
	thead.attrs &= thead.attrs.valign?

	tr.attrs.valign =
		attribute valign {
			string
		}
	tr.attrs &= tr.attrs.valign?

## vlink attribute

	body.attrs.vlink =
		attribute vlink {
			string
		}
	body.attrs &= body.attrs.vlink?

## vspace attribute

	img.attrs.vspace =
		attribute vspace {
			string
		}
	img.attrs &= img.attrs.vspace?

	object.attrs.vspace =
		attribute vspace {
			string
		}
	object.attrs &= object.attrs.vspace?

## width attribute

	col.attrs.width =
		attribute width {
			string
		}
	col.attrs &= col.attrs.width?

	colgroup.attrs.width =
		attribute width {
			string
		}
	colgroup.attrs &= colgroup.attrs.width?

	hr.attrs.width =
		attribute width {
			string
		}
	hr.attrs &= hr.attrs.width?

	pre.attrs.width =
		attribute width {
			string
		}
	pre.attrs &= pre.attrs.width?

	table.attrs.width =
		attribute width {
			string
		}
	table.attrs &= table.attrs.width?

	td.attrs.width =
		attribute width {
			string
		}
	td.attrs &= td.attrs.width?

	th.attrs.width =
		attribute width {
			string
		}
	th.attrs &= th.attrs.width?
